 @tailwind base;
 @tailwind components;
 @tailwind utilities;
  
  

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(247, 252, 252, 0.139) rgba(0, 0, 0, 0.1); 
  }
  
  textarea.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(247, 252, 252, 0.139) rgba(0, 0, 0, 0.1);
  }
  